{% extends "main/base.html" %}
{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}
{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100">
    <form method="post" action="{{url_for('users.login')}}"  style="width:400px" class="  border  border-2 border-dark-subtle rounded p-5">
      {{ form.hidden_tag() }}
      {{form.csrf_token}}
   <div class="mb-3">
          {% with messages = get_flashed_messages(with_categories = True) %}
          {% if messages %}
           {% for category, message in messages %}
             <span class="alert alert-{{category}}  p-1">{{message}}</span>
          {% endfor %}
          {% endif%}
          {% endwith %}
          <br>

     {{ form.email.label(class = "form-label")}}

     {% if form.email.errors %}
      {% for error in form.email.errors %}
        <span class="text-danger">{{error}}</span>
      {% endfor %}
     {% endif %}
     {{ form.email(class = "form-control",placeholder='Enter username' ) }}

   </div>
   <div class="mb-3">

     {{ form.password.label(class = "form-label")}}

     {{ form.password(class = "form-control",placeholder='Enter password' ) }}
   </div>
   <div class="mb-3 form-check">

     {{ form.remember(class='form-check-input-dark')}}
     {{ form.remember.label}}

     <a href="#" class="link-secondary">  Forgot password?</a>
   </div>
   <div class="w-100 p-2 justify-content-center d-flex">

     {{ form.submit(class="btn btn-dark w-50")}}
   </div>
   <p>Dont have an account? <a href="{{url_for('users.signup')}}">Sign up</a> </p>
  </form>
</div>

{% endblock content %}
