{% extends "main/base.html" %}
{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

{% block content %}
<script type="text/javascript">
function addToCart(productId) {
  // fetch(`http://127.0.0.1:5000/add_to_cart/${productId}`,
    fetch(`/add_to_cart/${productId}`)
  .then(data =>{
      if (data){
window.alert('Added to cart 🛒')
        
      }
    }
}
</script>


        <div class="album py-5 bg-light">
          <div class="container">

            <nav aria-label="breadcrumb ">
              <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{{url_for('main.home')}}">
                  Home
                </a>
              </li>
                <li class="breadcrumb-item active" aria-current = 'page'>Wishlist</li>
              </ol>
            </nav>

            <div class= "mt-5 row">

        {% for item in wishlist %}
        <div class="col-md-4">
          <div class="card  bg-light mb-4 shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img src="{{item['thumbnail']}}" class="bd-placeholder-img card-img-top" width="100%" height="150" alt="...">
            <div class="card-body" style="height:180px">
              <h5 class="card-title">{{item['title']}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${{item['price']}}</h6>
              <p class="card-text"></p>


              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary m-2" onclick="addToCart({{item['id']}})"><a class="text-white" href="#">Add to cart</a></button>

                  <button type="button" class="btn btn-sm btn-secondary m-2"><a href="{{url_for('products.item',id= item['id'] )}}" class="text-white">View</a></button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        {% endfor  %}
      </div>
    </div>
  </div>


{% endblock content %}
